<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html ng-app="myShip">
<head>
	<title>Cruise Ship | Party Hall Booked</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="Gretong Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
	Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />

	<!-- Custom CSS files -->
	<link href="css/bootstrap.css" rel='stylesheet' type='text/css' />
	<link href="css/style.css" rel='stylesheet' type='text/css' />
	<link href="css/megamenu.css" rel="stylesheet" type="text/css" media="all" />
	<link href='css/quicksand.css' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Playfair+Display:400,700,900' rel='stylesheet' type='text/css'>

	<!-- Custom JS files -->
	<script type='text/javascript' src="js/jquery-1.11.1.min.js"></script>
	<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
	<script type="text/javascript" src="js/megamenu.js"></script>
	<script>$(document).ready(function(){$(".megamenu").megamenu();});</script>
	<script src="js/menu_jquery.js"></script>
	<script src="js/simpleCart.min.js"></script>

	<!-- angular lib js -->
	<script type="text/javascript" src="js/angular-1.3.js"></script>
	<script type="text/javascript" src="js/angular_cookies.js"></script> <script type="text/javascript" src="js/back.js"></script>
</head>
<body ng-controller="myShipCtrl">
<!-- header_top -->
<div class="top_bg">
	<div class="container">
		<div class="header_top">
			<div class="top_right">
				<ul>
					<li><a href="#">Help</a></li>|
					<li><a href="contact.html">Contact</a></li>
				</ul>
			</div>
			<div class="top_left">
				<h2><span></span> Call us : 032 2352 782</h2>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
</div>
<!-- header -->
<div class="header_bg">
	<div class="container">
		<div class="header">
			<div class="head-t">
				<div class="logo">
					<a href="index.html"><img src="images/logo.png" class="img-responsive" alt=""/> </a>
				</div>
				<!-- start header_right -->
				<div class="header_right">
					<div class="rgt-bottom">
						<div ng-hide="myLoginVar" class="create_btn" >
							<a href="login.html">LOGIN</a>
						</div>
						<div ng-hide="myLogoutVar" class="create_btn">
							<a ng-click="logout()">LOGOUT</a>
						</div>
						<div class="clearfix"> </div>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="clearfix"> </div>
			</div>
			<!-- start header menu -->
			<ul class="megamenu skyblue">
				<li class="grid"><a class="color1" href="index.html">Home</a></li>
				<li><a class="color2">Voyager</a>
					<div class="megapanel">
						<div class="row">
							<div class="col1">
								<div class="h_nav">
									<h4>Items</h4>
									<ul>
										<li><a href="catering.html">Catering</a></li>
										<li><a href="stationary.html">Stationary</a></li>
										<li><a href="movie.html">Movie</a></li>
										<li><a href="resort.html">Resort</a></li>
										<li><a href="salon.html">Beauty Salon</a></li>
										<li><a href="fitness.html">Fitness</a></li>
										<li><a href="hall.html">Party Hall</a></li>
									</ul>	
								</div>							
							</div>	
						</div>
					</div>
				</li>
				<li><a href="admin_login.html" class="color4">Admin</a>
					
				</li>				
				<li class="active grid"><a class="color5">Manager</a>
					<div class="megapanel">
						<div class="row">
							<div class="col1">
								<div class="h_nav">
									<h4>Bookings</h4>
									<ul>
										<li><a href="movieBooked.html">Movie Tickets</a></li>
										<li><a href="resortBooked.html">Resorts</a></li>
										<li><a href="salonBooked.html">Beauty Salon</a></li>
										<li><a href="fitnessBooked.html">Fitness</a></li>
										<li><a href="hallBooked.html">Party Hall</a></li>
									</ul>	
								</div>							
							</div>
						</div>
					</div>
				</li>
				<li><a class="color6">Head Cook</a>
					<div class="megapanel">
						<div class="row">
							<div class="col1">
								<div class="h_nav">
									<h4>Orders</h4>
									<ul>
										<li><a href="cateringOrdered.html">Catering Items</a></li>
									</ul>	
								</div>							
							</div>
						</div>
					</div>
				</li>				
				<li><a class="color7">Supervisor</a>
					<div class="megapanel">
						<div class="row">
							<div class="col1">
								<div class="h_nav">
									<h4>Orders</h4>
									<ul>
										<li><a href="stationaryOrdered.html">Stationary Items</a></li>
									</ul>	
								</div>							
							</div>
						</div>
					</div>
				</li>				
			 </ul> 
		</div>
	</div>
</div>
<!-- content -->
<div class="special">
	<div class="container">
		<table class="table table_custom">
			<thead>
				<tr>
					<th>Date</th>
					<th>Hall Name</th>	
					<th>Category</th>					
					<th>Quantity</th>
					<th>Price</th>
				</tr>
			</thead>
			<tbody ng-repeat="x in hal_booked">
				<tr>
					<td ng-bind="x.date"></td>
					<td ng-bind="x.name"></td>
					<td ng-bind="x.category"></td>						
					<td ng-bind="x.quantity"></td>
					<td ng-bind="x.amount"></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
<div class="foot-top">
</div>
<div class="footer">
	<div class="container">
		<!--<div class="col-md-5 our-st">
			<div class="our-left">
				<h4>OUR STORES</h4>
			</div>
			<div class="clearfix"></div>
			<li><i class="add"> </i>Jl. Haji Muhidin, Blok G no.69</li>
			<li><i class="phone"> </i>025-2839341</li>
			<li><a href="mailto:info@example.com"><i class="mail"> </i>info@sitename.com </a></li>
		</div>--->
		<div class="clearfix"> </div>
		<!--<p>Copyrights © 2015 Gretong. All rights reserved | Template by <a href="http://w3layouts.com/">W3layouts</a></p>-->
	</div>
</div>
<!-- angular js -->
	<script type="text/javascript" src="js/angular_ship.js"></script>
</body>
</html>